# Stuff that pops up locally for me - @jeremyfelt
*.sublime*
.DS_Store
.idea
.sass-cache
node_modules
bower_components

# Because this really is a working directory, ignore vagrant's files
/.vagrant

# This is a file intended for hooking in a custom Vagrant configuration on up
/Customfile

# Allow for custom provisioning scripts that are not included with the repo
/vm/provision/provision-custom.sh
/vm/provision/provision-pre.sh
/vm/provision/provision-post.sh
/vm/provision/github.token

# Ignore custom trigger scripts in config/homebin.
/vm/config/homebin/vagrant_halt_custom
/vm/config/homebin/vagrant_suspend_custom
/vm/config/homebin/vagrant_destroy_custom

# No need to share individual site configs with each other
/vm/config/nginx-config/sites/*.conf

# Ignore anything in the 'custom' directory in config
/vm/config/custom/*

# Ignore a custom bash_prompt if it exists
/vm/config/bash_prompt

# No need to share our mysql data with each other
/vm/database/data/*

# Log files should be ignored.
/vm/log/*.log

# No need to share our individual sites with each other
/vm/www/*

# And no need to share individual SQL files with each other
*.sql
*.sql.gz

# BUT....

# We do have some default nginx configs that should be included
!/vm/config/nginx-config/sites/default.conf

# And we do have a default SQL file that should be included
!/vm/database/init.sql

# And we provide our default host names in a dat file.
!/vm/www/vvv-hosts

# And a few of our web directories are important to share.
/vm/www/default/*
!/vm/www/default/index.php

# But not the custom phpMyAdmin config in the database-admin directory.
/vm/www/default/database-admin/config.inc.custom.php